{% extends "base.html" %}
{% load static %}
{% block titulo %}Carreras{% endblock %}

{% block navbar_imagen %}
<img width="50" src="{% static 'img/logo.png' %}" alt="Alternativa"/>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Carreras OnePage</h2>
    
    <div id="card-container" class="row">
        </div>

    <div id="loading" class="text-center d-none p-3">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
</div>
<script>
    const imagenes = [
        "{% static 'img/1.png' %}","{% static 'img/2.png' %}","{% static 'img/3.png' %}",
        "{% static 'img/4.png' %}","{% static 'img/5.png' %}","{% static 'img/6.png' %}",
        "{% static 'img/7.png' %}","{% static 'img/8.png' %}","{% static 'img/9.png' %}",
        "{% static 'img/10.png' %}",
    ];
</script>
<script src="{% static 'js/onePage.js' %}"></script>
{% endblock %}